@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Titillium+Web:wght@600&family=Ubuntu:wght@300&display=swap');
body{
    background-image: url('./background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

img{
    opacity: 0.8;
}

div{
    background-color: plum;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.8;
}

h1{
    color: darkred;
}
h2{
    color: green;
}

p{
    color: seashell;
    size: 100 px;
}