body{
    background-image: url('./backgrounds.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

div{
    background-color: white;
}

h1{
    font-size: 200px;
}