@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Dosis:wght@500&family=Oswald:wght@500&family=Titillium+Web:wght@600&family=Ubuntu:wght@300&display=swap');
body{
    background-image: url('./Backy.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
}

div{
    opacity: 0.8;
    background-color: white;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

h1{
    color:teal
}

p{
    color:indianred;
    font-size: 30px;
}

input{
    font-size: 15px;
}